#header {
	background-image: linear-gradient(to bottom, #212121, #616161);
	min-height: 30px;
	text-align: center;
	
	
	
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;
	
	
	
}


.header-font {
	color: white;
	line-height: 30px;
	font-weight: 700;
}



#header-control{
	
	width: 33%;
	
	padding-left: 6px;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content:flex-start;
	align-items: center;
	font-weight: 700;
	
	
}

.a{
	margin-bottom: 7px;
	margin-left:2px ;
}

#msg {
	width: 34%;
	line-height: 30px;
	font-weight: 700;
	
}

/* 加号层 */
#function {
	width: 33%;
	
	/*  */
	position: relative;
	display: flex;
	flex-flow: row ;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8px;
	
}
#ling{
	
	padding-left:250px; 
    padding-bottom: 10px;
}

/* 加号  */
#add {
	height: 22px;width: 22px;
	
	background: url(../img/icon/control/加号.svg) no-repeat;
	background-size: contain;


}

